.header {
  display: flex;
  position: absolute;
  top: 40px;
  left: 0%;
  right: 0%;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 12px 42px;
  background: #fff;
  @media (max-width: 780px) {
    padding: 12px;
  }

  .menu_bar {
    display: none;
    cursor: pointer;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .menu {
    display: none;
  }
  @media (max-width: 780px) {
    // display: block;
    .menu {
      display: block;
      position: fixed;
      top: 40px;
      left: 0%;
      width: 50%;
      gap: 10px;
      height: 93vh;
      background-color: #fff;
      transform: translateX(-105%);
      transition: 0.5s;
      nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 12px;
        a {
          color: #000;
          padding: 8px;
          font-size: 14px;
          &:hover {
            color: black;
            // padding: 4px;
            font-weight: bold;
            background-color: aliceblue;
          }
        }
        .activeClass {
          color: black;
          font-weight: bold;
        }
      }
    }
    .menu_bar {
      display: block;
      cursor: pointer;
      transition: 0.5s;
      width: 100px;
      height: 100%;
      color: black;
    }
    .nav_active {
      transform: translateX(0%);
      transition: 0.5s;
    }
  }

  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    @media (max-width: 780px) {
      display: none;
    }
    nav {
      display: flex;
      gap: 20px;
      a {
        color: #000;
        &:hover {
          color: black;
          font-weight: bold;
        }
      }
      .activeClass {
        color: black;
        font-weight: bold;
      }
    }
  }
  .section-2 {
    display: flex;
    flex-direction: row-reverse;
    // justify-content: space-between;
    gap: 12px;
    align-items: center;
  }
}
