footer {
  width: 100%;
  padding: 75px;
  background-color: #000;
  @media (max-width: 780px) {
    padding: 32px 24px;
  }
  // @media (max-width: 480px) {
  //   padding: 12px;
  // }

  .section-1-rpa {
    display: none;

    @media (max-width: 780px) {
      display: block;
      padding-bottom: 12px;
      h1 {
        color: #fff;
        font-size: 24px;
      }
      span {
        color: #ffffff;
        font-size: 10px;
        letter-spacing: 1px;
      }
      p {
        padding-top: 8px;
        color: #777;
        font-size: 10px;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    @media (max-width: 780px) {
      .section-1 {
        display: none;
      }
      flex-direction: column;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .section {
      @media (max-width: 780px) {
        padding-top: 12px;
      }
    }
    h1 {
      font-size: 34px;
      color: #fff;
      font-weight: 400;
      @media (max-width: 780px) {
        font-size: 24px;
      }
      // @media (max-width: 480px) {
      //   font-size: 12px;
      // }
    }
    span {
      color: #ffffff;
      font-size: 12px;
      letter-spacing: 2px;
    }
    p {
      cursor: pointer;
      padding-top: 10px;
      font-size: 12px;
      color: #777;
      &:hover {
        color: #fff;
        transition: 0.3s ease-out;
      }
      @media (max-width: 780px) {
        font-size: 10px;
        padding-top: 5px;
      }
    }
    strong {
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      @media (max-width: 780px) {
        font-size: 14px;
        // padding-top: 18px;
      }
    }
  }
}
.terms {
  padding: 14px;
  background: #363535;
  h6 {
    text-align: center;
    color: #777;
  }
}
