.testimonial {
  padding: 38px 24px;
  h3 {
    text-align: center;
  }
  .card-wrapp {
    margin: 12px;
    .card {
      background: #fff;
      padding: 24px;
      margin: 24px;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      @media (max-width: 780px) {
        padding: 12px;
        margin: 12px;
        .star {
          svg {
            width: 15px;
            height: 15px;
          }
        }
      }

      .content {
        padding: 24px;
        @media (max-width: 780px) {
          p {
            font-size: 14px;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 12px;
        .profile {
          padding: 12px;
          border: 1px dashed #000;
          width: 55px;
          height: 55px;
          border-radius: 50px;
          svg {
            width: 30px;
            height: 30px;

            //   border-radius: 50px;
          }
        }
      }
    }
  }
}
