*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium";
}
html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  /* padding: 0% 24px; */
  /* color: #f5f5f5; */
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./assets/fonts/Gilroy-Light.ttf");
}

:root {
  --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold";
  --font-light: "Gilroy-Light";
  --header-background-color: #0e0e0e;
  --header-para-color: #8a8a8a;
  --button-primary: #00ce53;
  --text-primary-clr: #02d4f8;
  --blue: #02d4f8;
}
.mx {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-family: var(--font-bold);
  font-size: 42px;
  font-weight: 800;
  color: #0a0a0a;
}
h3 {
  font-family: var(--font-semiBold);
  font-size: 34px;
  font-weight: 600;
  color: #0a0a0a;
  letter-spacing: -1px;
}
span {
  font-family: var(--font-medium);
  color: #777;
  font-weight: 400;
  font-size: 10px;
}
p {
  font-family: var(--font-medium);
  color: #0e0e0e;
  font-weight: 400;
}
h6 {
  font-family: var(--font-medium);
  color: #8a8a8a;
  font-weight: 400;
}
a {
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
}
